<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ty.mapper.OrderUserMapper">
    <select id="orderuser" resultType="com.example.ty.bean.vo.OrderUserVo">
        select user.Uid,Uaccount,Uname,Usex,Uimage,Utel,Usite  from ty_company.order join ty_company.user on order.Uid=user.Uid where Wid=#{id} group by user.Uid ;
    </select>

</mapper>
